body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
	
    background-color: #3b9cc97c;
    font-family: "Inter", sans-serif;
}

.main-heading {
    color: #333;
    font-size: 4em;
	font-weight: bold;
}

.hint {
	color: #331111;
    font-size: 1em;
	font-weight: bold;
}

.trophy {
	width: 500px;
	height: 600px;
	margin-top: 150px;
}