<!doctype html>
<title>Game:</title>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/startpage.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<a href="{{ url_for('startpage.startpage') }}" class="register-link">Restart game.</a>
	
	<p class="main-heading">Guess the movie from the top-rated 250 IMDB movies!</p>
	{%for hint in hints%}
		<p class="hint">{{hint}}</p>
	{%endfor%}
	{% if counter < 7 %}
	<form method="POST" action="/game">
		<input list="movie-titles" name="movie_guess" placeholder="Type movie title">
		<datalist id="movie-titles">
			{% for movie in movies %}
				<option value="{{ movie.title }}">
			{% endfor %}
		</datalist>
	</form>
	{% else %}
		<a href="{{ url_for('startpage.startpage') }}" class="btn btn-primary">Too bad! Start a new game!</a>
	{% endif %}	
</body>
