<!doctype html>
<title>Game:</title>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/startpage.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<a href="{{ url_for('startpage.startpage') }}" class="register-link">Restart game.</a>
	
	{%for hint in hints%}
		<p>{{hint}}</p>
	{%endfor%}

	<p>{{random_movie.title}}</p>
	<form method="POST" action="/game">
		<input list="movie-titles" name="movie_guess" placeholder="Type movie title">
		<datalist id="movie-titles">
			{% for movie in movies %}
				<option value="{{ movie.title }}">
			{% endfor %}
		</datalist>
	</form>
</body>
